.c-h {
  height: 60px;
  border-bottom: 1px solid var(--border);
  width: 100%;
}
.c-h:hover {
  background-color: var(--muted);
}
.c-height {
  height: calc(100svh - 250px);
}
.c-prov {
  writing-mode: vertical-lr;
}
.c-height-d {
  height: calc(100svh - 340px);
}

.h-head {
  height: 65px;
}
.h-foot {
  height: 85px;
}
.h-side {
  height: calc(100svh - 150px);
}